@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0a;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; 
}

::-webkit-scrollbar-thumb {
  background: #262626; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040; 
}
